<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Logged Out</title>
    <link rel="stylesheet" href="/style/app.css">
</head>
<body>
    <header>
        <a href="/">Yoga Blog For Winners</a>
        <hr>
    </header>

    <main>
        <h1>You have been logged out.</h1>
        <p><a href="/users/login">Click here to log in again</a></p>
        <p><a href="/">Go back to homepage</a></p>
    </main>
</body>
</html>